{{define "html"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Page Not Found</title>

        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="grid-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <!-- <link rel="stylesheet" href="grid.css"> -->
        <!--<![endif]-->
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="marketing.css">
    <!--<![endif]-->
 
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    </head>
    <body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">NYC Camp Authenticator</a>

    </div>
</div>
<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">404 Whoops!</h1>
    </div>
</div>
    </body>
</html>
{{end}}
