{{define "content"}}
<div class="flash-messages">
    {{range .flashes}}
        <div class="flash">
            {{.}}
        </div>
    {{end}}
</div>
<div class="error-message">{{.error}}</div>
<form action="/login/" method="post">
    <fieldset>
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="username"
        value="{{.username}}">
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Login">
    </fieldset>
</form>
{{end}}
